# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtualenv
venv/
ENV/
env/
.venv/

# Playwright
playwright/.cache/
playwright/driver/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# dotenv
.env
.env.*

# Log
*.log

# Jupyter
.ipynb_checkpoints/

# Misc
*.bak
*.tmp
*.swp
